<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.payu.sampleapp" >

    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- have full network access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- view network connections -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- modify or delete the contents of your shared storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- read the contents of your shared storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- view Wi-Fi connections -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- run foreground service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- change network connectivity -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- connect and disconnect from Wi-Fi -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- modify system settings -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- Allows the app to retrieve information about currently and recently running tasks. This may allow the app to discover information about which applications are used on the device. -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="34" />

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode"
        tools:replace="android:theme,android:allowBackup"
        tools:targetApi="34" >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>